
*{
    margin: 0;
    
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.card{
    background-color: rgb(199, 194, 194);
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.text{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 10px;
    
    
}